<div class="row">
	<div class="col-3">
		<ul class="nav flex-column">
		  <li class="nav-item">
		    <a class="nav-link" href="#">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Serviços</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Sobre</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Plano</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Contatos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Sistema</a>
		  </li>
		</ul>
	</div>
	<div class="col-6">
		<p class="footer-website">copiraite - todos os direitos reservados ao grachetao</p>
	</div>
	<div class="col-3">
		
	</div>
</div>