{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
                <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veículos</a>
                <a class="dropdown-item" href="{% url 'core_lista_mov_rotativo' %}">Rotativo</a>
                <a class="dropdown-item" href="{% url 'core_lista_mensalista' %}">Mensalistas</a>
            </div>
        </li>
        {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Sair</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Ola {{ user }}</a>
    </li>
    {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
    </ul>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 text-center alert alert-secondary">
            <h2>Pessoas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12 text-center">
                <h3>Cadastrar Pessoa</h3>
            </div>
            <form action="{% url 'core_criar_pessoas' %}" method="POST" class="alert alert-primary">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 text-center">
            <div class="col-sm-12">
                <h3>Pessoas Cadastradas</h3>
            </div>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for pessoa in pessoas %}
                    
                        <tr>
                            <th scope="row">{{ pessoa.id }}</th>
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.endereco }}</td>
                            <td>+{{ pessoa.telefone }}</td>
                            <td>
                                <a href="{% url 'core_update_pessoas' pessoa.id %}">
                                <button class="btn btn-primary">
                                    Editar
                                </button>
                            </a>
                            </td>
                        </tr>
                    
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    


{% endblock %}


{% for pessoa in pessoas %}
<li class="list-group-item">
    <a href="{% url 'core_update_pessoas' pessoa.id %}"> {{ pessoa.nome }} </a>
</li>
{% endfor %}
