{% extends 'website/base.html' %}
{% load static %}

{% block main %}

	<div class="row">
		<div class="col-6">
			Lorem ipsum eleifend taciti facilisis lacinia habitant in duis congue vel molestie maecenas, porta porttitor scelerisque placerat consectetur fringilla porttitor curabitur taciti interdum himenaeos. ornare tempus pulvinar nisi maecenas himenaeos mollis blandit metus diam erat etiam morbi sociosqu, ut enim donec lacus porta ac feugiat porttitor aliquam justo class. tincidunt ultrices viverra et himenaeos lobortis faucibus euismod ipsum, posuere non tristique aenean tempus augue condimentum ac, quis tincidunt magna gravida ante at donec. orci habitasse fames felis in magna mollis iaculis imperdiet sapien semper, libero orci hendrerit turpis ullamcorper sit amet erat eget. 
		</div>
		<div class="col-6">
			Lorem ipsum eleifend taciti facilisis lacinia habitant in duis congue vel molestie maecenas, porta porttitor scelerisque placerat consectetur fringilla porttitor curabitur taciti interdum himenaeos. ornare tempus pulvinar nisi maecenas himenaeos mollis blandit metus diam erat etiam morbi sociosqu, ut enim donec lacus porta ac feugiat porttitor aliquam justo class. tincidunt ultrices viverra et himenaeos lobortis faucibus euismod ipsum, posuere non tristique aenean tempus augue condimentum ac, quis tincidunt magna gravida ante at donec. orci habitasse fames felis in magna mollis iaculis imperdiet sapien semper, libero orci hendrerit turpis ullamcorper sit amet erat eget. 
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			Lorem ipsum eleifend taciti facilisis lacinia habitant in duis congue vel molestie maecenas, porta porttitor scelerisque placerat consectetur fringilla porttitor curabitur taciti interdum himenaeos. ornare tempus pulvinar nisi maecenas himenaeos mollis blandit metus diam erat etiam morbi sociosqu, ut enim donec lacus porta ac feugiat porttitor aliquam justo class. tincidunt ultrices viverra et himenaeos lobortis faucibus euismod ipsum, posuere non tristique aenean tempus
		</div>
		<div class="col-4 text-center">
			<img src="{% static 'img/logo.png' %}" alt="Estacionamento 24 horas" width="40%">
		</div>
		<div class="col-4">
			Lorem ipsum eleifend taciti facilisis lacinia habitant in duis congue vel molestie maecenas, porta porttitor scelerisque placerat consectetur fringilla porttitor curabitur taciti interdum himenaeos. ornare tempus pulvinar nisi maecenas himenaeos mollis blandit metus diam erat etiam morbi sociosqu, ut enim donec lacus porta ac feugiat porttitor aliquam justo class. tincidunt ultrices viverra et himenaeos lobortis faucibus euismod ipsum, posuere non tristique aenean tempus
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			Lorem ipsum eleifend taciti facilisis lacinia habitant in duis congue vel molestie maecenas, porta porttitor scelerisque placerat consectetur fringilla porttitor curabitur taciti interdum himenaeos. ornare tempus pulvinar nisi maecenas himenaeos mollis blandit metus diam erat etiam morbi sociosqu, ut enim donec lacus porta ac feugiat porttitor aliquam justo class. tincidunt ultrices viverra et himenaeos lobortis faucibus euismod ipsum, posuere non tristique aenean tempus augue condimentum ac, quis tincidunt magna gravida ante at donec. orci habitasse fames felis in magna mollis iaculis imperdiet sapien semper, libero orci hendrerit turpis ullamcorper sit amet erat eget. 
		</div>
		<div class="col-6">
			Lorem ipsum eleifend taciti facilisis lacinia habitant in duis congue vel molestie maecenas, porta porttitor scelerisque placerat consectetur fringilla porttitor curabitur taciti interdum himenaeos. ornare tempus pulvinar nisi maecenas himenaeos mollis blandit metus diam erat etiam morbi sociosqu, ut enim donec lacus porta ac feugiat porttitor aliquam justo class. tincidunt ultrices viverra et himenaeos lobortis faucibus euismod ipsum, posuere non tristique aenean tempus augue condimentum ac, quis tincidunt magna gravida ante at donec. orci habitasse fames felis in magna mollis iaculis imperdiet sapien semper, libero orci hendrerit turpis ullamcorper sit amet erat eget. 
		</div>
	</div>
	{% include 'website/footer.html' %}
{% endblock %}