{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Update Movimento Rotativo: {{ mov_rot }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-4">
                <form class="alert alert-primary" action="{% url 'core_update_mov_rotativo' mov_rot.id %}" method="POST">

                        {% csrf_token %}
                        
                        {{ form|crispy }}
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Atualizar</button>
                            <a class="btn btn-danger" href="{% url 'core_delete_mov_rotativo' mov_rot.id %}">Deletar</a>
                        </div>
                    </form>
        </div>
    </div>

{% endblock main %}